<main class="login__container">
  <div class="left"></div>

  <div class="right">
    <div class="container_form">
      <img
        width="297px"
        height="119px"
        src="../../../assets/logo-white.svg"
        alt="FAPEG Logo White"
        class="logo"
      />

      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <label class="input_container">
          Usuário
          <div class="input_container_wrapper">
            <input class="input_element" type="text" formControlName="email" />
          </div>
        </label>

        <label class="input_container">
          Senha
          <div class="input_container_wrapper">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="password"
              class="input_element"
            />
            <button
              class="input_button"
              (click)="passwordVisibility()"
              type="button"
            >
              <span class="material-icons">
                {{ showPassword ? "visibility_off" : "outline_visibility" }}
              </span>
            </button>
            <span></span>
          </div>
        </label>

        <button [disabled]="loading" class="button" type="submit">
          {{ loading ? "Processando..." : "Entrar" }}
        </button>

        <div>
          <span class="password_link"
            >Esqueceu a senha?
            <a routerLink="/forgetPassword">Clique aqui</a></span
          >
          <span class="password_link"
            >Não tem conta? <a routerLink="/register">Cadastre-se aqui</a></span
          >
        </div>
      </form>
    </div>
  </div>
</main>
