<main class="login__container">
  <div class="left"></div>

  <div class="right">
    <div class="container_form">
      <img
        width="297px"
        height="119px"
        src="../../../assets/logo-white.svg"
        alt="FAPEG Logo White"
        class="logo"
      />

      <form [formGroup]="loginForm" (submit)="onSubmit()">
        <label class="input_container">
          Usuário
          <input type="text" formControlName="user"/>
        </label>

        <label class="input_container">
          Senha
          <input type="text" formControlName="password"/>
        </label>

        <button class="button" type="submit">Entrar</button>

        <div>
          <span class="password_link"
            >Esqueceu a senha? <a href="#">Clique aqui</a></span
          >
          <span class="password_link"
            >Não tem conta? <a href="#">Cadastre-se aqui</a></span
          >
        </div>
      </form>
    </div>
  </div>
</main>
