.login__container {
  height: 100vh;
  display: flex;
  background-color: var(--secondary-900);

  .left {
    flex: 1 0 48%;
    background-color: var(--primary-900);
    background-image: url(../../../assets/capa.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .right {
    flex: 1 0 52%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    .input_div {
      display: flex;
      align-items: center;
    }

    .container_form {
      display: flex;
      flex-direction: column;
      max-width: 370px;
      width: 100%;

      form {
        margin-top: 41px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        button {
          margin-top: 20px;
        }
      }
    }
  }

  @media (max-width: 763px) {
    .left {
      display: none;
    }

    .right {
      flex: 1 0 100%;
    }
  }
}

.password_link {
  color: var(--neutral-100);
  display: inline-block;
  text-align: center;
  margin-left: 56px;

  a {
    color: var(--primary-900);
    font-weight: 600;
  }

  & + & {
    margin-top: 0.875rem;
  }
}
