<div class="container">
  <div class="cuca">
    <h1>Observatório da FAPEG</h1>
    <div class="register-container">
      <div class="container-type-person">
        <label>
          <input type="radio" name="type-person" />
          Pessoa física
        </label>

        <label>
          <input type="radio" name="type-person" />
          Pessoa jurídica
        </label>
      </div>

      <div class="container-inputs">
        <label class="input_container">
          Nome completo
          <input type="text" formControlName="password" />
        </label>

        <label class="input_container">
          Email
          <input type="email" formControlName="password" />
        </label>

        <label class="input_container">
          CPF
          <input type="text" formControlName="password" />
        </label>

        <label class="input_container">
          Data de nascimento
          <input type="date" formControlName="password" />
        </label>

        <label class="input_container">
          Senha
          <input type="password" formControlName="password" />
        </label>

        <label class="input_container">
          Área de interesse
          <input type="text" formControlName="password" />
        </label>
      </div>

      <div class="container-button">
        <button class="button" type="submit">Entrar</button>
      </div>
    </div>
  </div>
</div>
