<div class="container">
  <div class="cuca">
    <h1>Observatório da FAPEG</h1>
    <div class="register-container">
      <form
        [formGroup]="registerForm"
        *ngIf="makingRegister; else registerConfirm"
        (submit)="onSubmit()"
      >
        <div class="back-button-container">
          <button class="back-button" routerLink="/login">
            <img src="../../../assets/arrow-left.svg" alt="Arrow Left Icon" />
          </button>
        </div>
        <div class="container-inputs">
          <label class="input_container">
            Nome Completo
            <div class="input_container_wrapper">
              <input
                formControlName="name"
                type="text"
                placeholder="Seu nome completo"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Data de Nascimento
            <div class="input_container_wrapper">
              <input
                formControlName="birthDate"
                type="date"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Email
            <div class="input_container_wrapper">
              <input
                formControlName="email"
                type="text"
                placeholder="seu_email@mail.com"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            CPF
            <div class="input_container_wrapper">
              <input
                formControlName="document"
                mask="000.000.000-00"
                type="text"
                placeholder="001.001.001-01"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Grau de Instrução
            <div class="input_container_wrapper">
              <select
                formControlName="educationLevel"
                name="schooling"
                id="schooling"
                class="input_element"
              >
                <option value="Superior Completo">Superior Completo</option>
                <option value="Superior Incompleto">Superior Incompleto</option>
                <option value="Pós-Graduação">Pós-Graduação</option>
                <option value="Mestrado">Mestrado</option>
                <option value="Doutorado">Doutorado</option>
              </select>
            </div>
          </label>

          <label class="input_container">
            Intituição de Ensino
            <div class="input_container_wrapper">
              <input
                formControlName="educationalInstitution"
                type="text"
                placeholder="Universidade Federal de Goiás"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Curso
            <div class="input_container_wrapper">
              <input
                formControlName="course"
                type="text"
                placeholder="Administração"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Senha
            <div class="input_container_wrapper">
              <input
                formControlName="password"
                type="password"
                placeholder="********"
                class="input_element"
              />
            </div>
          </label>

          <label class="input_container">
            Confirme a Senha
            <div class="input_container_wrapper">
              <input
                formControlName="passwordConfirmation"
                type="password"
                placeholder="********"
                class="input_element"
              />
            </div>
          </label>

          <div class="container-type-person">
            <label>
              <input
                formControlName="typePerson"
                value="1"
                type="radio"
                name="typePerson"
              />
              Pesquisador
            </label>

            <label>
              <input
                formControlName="typePerson"
                value="2"
                type="radio"
                name="typePerson"
              />
              Empreendedor
            </label>

            <label>
              <input
                formControlName="typePerson"
                value="3"
                type="radio"
                name="typePerson"
              />
              Outro
            </label>
          </div>
        </div>

        <div class="container-button">
          <button [disabled]="loading" class="button" type="submit">
            {{ loading ? "Processando..." : "Cadastrar" }}
          </button>
        </div>
      </form>

      <ng-template #registerConfirm>
        <h3>Confirmação de Cadastro</h3>
        <div class="confirmRegisterText">
          <p>
            Foi enviado uma mensagem com o link de confirmação para o email
            <strong>{{ userEmail }}</strong
            >.
          </p>
          <p>
            Verifique seu email e clique no link de confirmação para finalizar o
            cadastro.
          </p>
          <p>A FAPEG agradece seu cadastro!</p>
        </div>
        <div class="container-button">
          <button routerLink="/login" class="button" type="submit">
            Voltar para tela e login
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
