<div class="sidebar">
    <div class="logo">
        <img
        width="297px"
        height="auto"
        src="../../../assets/Logo.svg"
        alt="Observatório FAPEG"
        class="logo"
      />
      <span>Observatório FAPEG</span>
    </div>
    <ul>
        <li>
            <a routerLink="">
                <span class="material-icons">
                    home
                </span>
                <span class="link_name">Home</span>
            </a>
        </li>

        <li>
            <a routerLink="">
                <span class="material-icons"> search </span>
                <span class="link_name">Pesquisas</span>
            </a>
        </li>

        <li>
            <a routerLink="">
                <span class="material-icons"> find_in_page </span>
                <span class="link_name">Minhas Pesquisas</span>
            </a>
        </li>

        <li>
            <a routerLink="">
                <span class="material-icons"> perm_contact_calendar </span>
                <span class="link_name">Fale Conosco</span>
            </a>
        </li>
    </ul>

    <div class="profile_content">
        <div class="profile">
            <div class="profile_icon">
                <span class="material-icons"> person </span>
            </div>
            <div class="profile_links">
                <a>Meu Perfil</a>
                <a>Sair</a>
            </div>
        </div>
    </div>
</div>