/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

body,
html {
  height: 100vh;
  line-height: 1.5;
  font-family: Poppins, sans-serif;
}

:root {
  --primary-900: #d79600;
  --secondary-900: #333;

  --neutral-100: #737380;
  --neutral-900: #a8a8b3;

  --white: #fff;
}

.input_container {
  color: var(--neutral-900);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  input {
    height: 3.125rem;
    width: 100%;
    padding: 1rem;

    border: 1px solid var(--neutral-900);
    border-radius: 8px;
  }
}

.button {
  border-radius: 8px;
  color: var(--white);
  background-color: var(--primary-900);
  border: 0;
  cursor: pointer;
  height: 3.125rem;
  font-weight: 600;
  transition: filter 0.3s;

  &:hover {
    filter: brightness(0.9);
  }
}
