<div class="dashboard-container">
  <h1 class="title">Indicadores</h1>

  <div class="container-wrapper">
    <div class="indicator">
      <span>120</span>
      <span>Ações de pesquisa</span>
    </div>
    <div class="indicator">
      <span>120</span>
      <span>Ações de pesquisa</span>
    </div>
    <div class="indicator">
      <span>120</span>
      <span>Ações de pesquisa</span>
    </div>
    <div class="indicator">
      <span>120</span>
      <span>Ações de pesquisa</span>
    </div>
  </div>
</div>
