<div class="container">
    <div class="forget-password-container">
        <h1>Observatório da FAPEG</h1>
        <form [formGroup]="forgetPasswordForm" (submit)="onSubmit()" class="forget-password-form">
            <h3>Recuperação de senha</h3>
            <p>Será enviado um link para seu endereço de e-mail para a redefinição de sua senha.</p>
            <div class="container-inputs">
                <label class="input_container">
                   Email
                   <input type="text" formControlName="email" />
                </label>
            </div>
            <div class="container-button">
                <button class="button" type="submit">Redefinir Senha</button>
            </div>
        </form>
    </div>
</div>