<div class="container">
  <div class="forget-password-container">
    <h1>Observatório da FAPEG</h1>
    <form
      [formGroup]="forgetPasswordForm"
      (submit)="onSubmit()"
      class="forget-password-form"
    >
      <div>
        <div class="title-container">
          <h3>Recuperação de senha</h3>

          <button class="back-button" routerLink="/login">
            <img src="../../../assets/arrow-left.svg" alt="Arrow Left Icon" />
          </button>
        </div>

        <p>
          Será enviado um link para seu endereço de e-mail para a redefinição de
          sua senha.
        </p>
        <div class="container-inputs">
          <label class="input_container">
            Email
            <div class="input_container_wrapper">
              <input
                type="text"
                formControlName="email"
                class="input_element"
              />
            </div>
          </label>
        </div>
        <div class="container-button">
          <button class="button" type="submit">Redefinir Senha</button>
        </div>
      </div>
    </form>
  </div>
</div>
