.container {
  background-color: #1e1e1e;
  min-height: 100vh;

  h1 {
    color: white;
    margin-block: 2rem;
    display: inline-block;
  }

  .forget-password-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .forget-password-form {
    background-color: #ffffff !important;
    border-radius: 30px;
    padding: 1rem;
    max-width: 743px;
    width: 100%;

    > div {
      max-width: 531px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
    }

    h3 {
      margin-top: 52px;
    }

    p {
      margin-bottom: 60px;
    }

    .input_container {
      color: var(--secondary-900);
    }

    .container-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      .button {
        flex: 1 0 100%;
        margin-bottom: 50px;
      }
    }
  }
}

.back-button {
  background-color: var(--primary-900);
  border: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0;
  padding: 1rem;
  width: 60px;
  height: 50px;
  margin: 24px 0 49px;
}
