.container {
  background-color: var(--secondary-900);
  min-height: 100vh;

  h1 {
    color: white;
    margin-block: 2rem;
    display: inline-block;
  }

  .forget-password-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }

  .forget-password-form {
    background-color: #ffffff !important;
    border-radius: 30px;
    padding: 1rem;
    max-width: 743px;
    width: 100%;

    > div {
      max-width: 531px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
    }

    p {
      margin-bottom: 60px;
    }

    // .input_container {
    //   color: var(--secondary-900);
    // }

    .container-button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;

      .button {
        flex: 1 0 100%;
        margin-bottom: 50px;
      }
    }
  }
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 52px;
  margin-bottom: 49px;
}
