<div class="container">
  <div class="forget-password-container">
    <h1>Observatório da FAPEG</h1>
    <form
      *ngIf="!emailReceived"
      [formGroup]="forgetPasswordForm"
      (submit)="onSubmit()"
      class="forget-password-form"
    >
      <div>
        <div class="title-container">
          <h3>Recuperação de senha</h3>

          <button type="button" class="back-button" routerLink="/login">
            <img src="../../../assets/arrow-left.svg" alt="Arrow Left Icon" />
          </button>
        </div>

        <p>
          Será enviado um link para seu endereço de e-mail para a redefinição de
          sua senha.
        </p>
        <div class="container-inputs">
          <label class="input_container">
            Email
            <div class="input_container_wrapper">
              <input
                type="text"
                formControlName="email"
                class="input_element"
              />
            </div>
          </label>
        </div>
        <div class="container-button">
          <button [disabled]="loading" class="button" type="submit">{{ loading ? 'Processando...' : 'Redefinir senha' }}</button>
        </div>
      </div>
    </form>

    <form
      *ngIf="emailReceived"
      [formGroup]="changePasswordForm"
      (submit)="changePassword()"
      class="forget-password-form"
    >

    <div class="title-container">
      <h3>Recuperação de senha</h3>

      <button type="button" class="back-button" routerLink="/login">
        <img src="../../../assets/arrow-left.svg" alt="Arrow Left Icon" />
      </button>
    </div>

    <div class="container-inputs">
      <label class="input_container">
        Senha
        <div class="input_container_wrapper">
          <input
            type="text"
            formControlName="password"
            class="input_element"
          />
        </div>
      </label>

      <label class="input_container">
        Confirmação de senha
        <div class="input_container_wrapper">
          <input
            type="text"
            formControlName="passwordConfirmation"
            class="input_element"
          />
        </div>
      </label>
    </div>
    <div class="container-button">
      <button [disabled]="loading" class="button" type="submit">{{ loading ? 'Processando...' : 'Alterar senha' }}</button>
    </div>
    </form>
  </div>
</div>
