.searchs-container {
  max-width: 917px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;

  .list-card {
    padding: 1.5rem 2rem;
    background-color: #fff;
    border-radius: 12px;
    margin-top: 22px;

    h2 {
      margin-bottom: 29px;
    }

    span {
      color: #737380;
      font-weight: 700;
      font-size: 20px;

      p {
        font-weight: 400;
      }
    }

    .showDetails {
      color: red;
      border: none;
      cursor: pointer;
      background-color: #fff;
    }
  }

  .pagination ::ng-deep .ngx-pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center !important;
    background-color: #fff;
    border-radius: 10px;
  }

  .pagination ::ng-deep .ngx-pagination .current{
    background-color: var(--secondary-900) !important;
    border-radius: 6px;
  }

  .pagination ::ng-deep .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #d4d4d4;
    border-radius: 5px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
  }
}

.title {
  margin-bottom: 1.5rem;
  color: var(--primary-900);
  font-size: 2rem;
}
